.banner-image {z-index: -5; margin-top: -35em;}
body{overflow-x: hidden;}
.navbar-brand span{font-size: 20px;font-family:'Times New Roman', Times, serif;}
.dropdown-contents {width: 100%;display: inline-block;align-items: center;}
.nav-item {text-align: center;padding: 0px 5px 0px 5px;}
.nav-item a:hover{color: #219ebc;}
.text-introduction{margin-top: 7em;z-index: 5;}
.text-intro-aside{margin-top: 5em;margin-right: -15em;}
.text-intro-aside p{color: #ffba08;}
.image-aside img{width: 100vh; height: auto; border-top: 5px solid #4895ef; border-radius: 20px;}
.intro-below-section{border-top: 20px solid #83c5be; border-bottom: 40px solid #83c5be;}


.dropdown-items a{font-size: 20px;font-weight: bold;font-family:Georgia, 'Times New Roman', Times, serif;}
.dropdown a {display: block;text-decoration: none;padding: 10px 15px;}
.content {display: none;min-width: 120px;position: absolute;}
.content {
    border-top-left-radius: 2px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 5px solid #343a40;
    border-bottom: 5px solid #343a40;
    background-color: #6c757d;
    -webkit-box-shadow: -7px 7px 20px -3px rgba(0,0,0,0.49);
    -moz-box-shadow: -7px 7px 20px -3px rgba(0,0,0,0.49);
    box-shadow: -7px 7px 20px -3px rgba(0,0,0,0.49);
}
.dropdown div{z-index: 5;}
.content a:hover {color: #14213d;background-color: #94d2bd;}
.dropdown:hover .content { display: block;cursor: pointer;position: absolute; z-index: 10;}
.dropdown {display: flex;justify-content: center;align-items: end;}
.dropdown li {display: inline-block;}
.dropdown:hover {cursor: pointer;}
.navbar-nav {cursor: pointer;}

.navbar-nav li {
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content a {font-family: Arial, Helvetica, sans-serif;}
.navbar a{color: white;}
.navbar-brand{font-weight: bold;}
.content a{color: black;}
.content-text{position: absolute;top: 40%;}
.content-text p1{font-size: 25px;font-weight: bold;}
.content-text h1{font-size: 42px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #495057;}
#h1-color-text{color: #e07a5f;}
#p1-color-text{color: #480ca8;font-weight: bold;}
.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
}
.btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.btn:hover {box-shadow: 0 0 20px 0px #2e2e2e3a;}
.btn .text {transform: translateX(30px);}
.btn:hover .icon {width: 150px;}
.btn:hover .text {transition: all 0.5s;opacity: 0;}
.btn:focus{outline: none;}
.btn:active .icon {transform: scale(0.85);}
.button {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: hsl(210deg 100% 44%);
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
.button:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
}  
.button i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
.button:active {box-shadow: none;transform: translateY(7px);transition: 35ms cubic-bezier(.5, .7, .4, 1);} 
.button:hover:before {transition: all .0s;transform: translateY(100%);opacity: 0;}
.button:hover i {transition: all .2s ease;transform: translateY(0px);opacity: 1;}   
.button:hover i:nth-child(1) {transition-delay: 0.045s;}
.button:hover i:nth-child(2) {transition-delay: calc(0.045s * 3);}
.button:hover i:nth-child(3) {transition-delay: calc(0.045s * 4);}
.button:hover i:nth-child(4) {transition-delay: calc(0.045s * 5);}
.button:hover i:nth-child(5) {transition-delay: calc(0.045s * 6);}
.button:hover i:nth-child(6) {transition-delay: calc(0.045s * 7);}
.button:hover i:nth-child(8) {transition-delay: calc(0.045s * 8);}
.button:hover i:nth-child(9) {transition-delay: calc(0.045s * 9);}
.button:hover i:nth-child(10) {transition-delay: calc(0.045s * 10);}
.button:hover i:nth-child(11) {transition-delay: calc(0.045s * 11);}
footer{margin: -17px;}
.wall-xdxd{border-left: 5px solid lightblue; height: 250px;}
footer .container p{font-size: 15px;}
.logo{display: flex;justify-content: center;align-self: center;}
.copyrighting{text-align: center;}
.copyrighting p{padding: 10px;}



@media (max-width:768px){
    .content-text{top: 55%;}
    .content-text h1{font-size: 30px;}
    .content-text p1{font-size: 20px;}
    .banner-image img{margin-top: -20em;}
}
@media (max-width:730px){
    .image-aside img{width: 100%;}
    .text-intro-aside h1{text-indent: -9999px;}
    .text-intro-aside p{text-indent: -9999px;}
}
@media (max-width:992px){
    .banner-image img{height: auto; width: 100%; height: 100vh;}
    .text-intro-aside h1{text-indent: -9999px;}
    .text-intro-aside p{text-indent: -9999px;}
}
@media (max-width:1030px) {
    .text-intro-aside h1{text-indent: -9999px;}
    .text-intro-aside p{text-indent: -9999px;}
}


::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #f1f1f1; }
::-webkit-scrollbar-thumb {background: #888; }
::-webkit-scrollbar-thumb:hover {background: #555; }